.myRegAuth{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.myRegAuthContent{
    padding: 25px;
    background: #F4F9E9;
    border: 10px solid #9999C3;
    border-radius: 16px;
    min-width: 650px;
    /* min-height: 500px; */
}

.myRegAuth.active{
    display: flex;
    justify-content: center;
    align-items: center;
}